* {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.dark-section{
    background-color: #1F2937;
}

.logo, li, .foot, .signup{
    color:#F9FAF8;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 0px 170px;
    align-items: center;
}

.logo{
    font-size: 24px;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

a {
    text-decoration: none;
}

li {
    font-size: 14px;
    margin: 10px;
}

.hero {
    display: flex;
    padding: 60px 170px;
    justify-content: space-between;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 13px;
    flex-basis: 400px;
}

.right-side {
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
}

.main{
    font-size: 38px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 5px;
    width: 100px;
    color: #F9FAF8;
    border-color: white;
}

.information {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.info{
    font-size: 28px;
    color: #1F2937;
    font-weight: 900;
    padding: 43px 200px;
}

.subtext {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 90px;
}

.blank {
    border-radius: 25px;
    border: 2px solid #3882F6;
    padding: 20px;
    height: 95px;
    width: 95px;
  }

.one, .two, .three, .four {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    flex-basis: 95px;
}

.blurb{
    background-color: #E5E7EB;
    padding-left:270px;
    padding-right:270px;
    padding-top: 90px;
    padding-bottom: 90px;
    
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-family: light;
}

.thor {
    text-align:right;
}

.signup{
    background-color: #3882F6;
    border-radius: 10px;
    margin: 80px 170px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.left-signup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.right-signup {
    display: flex;
    justify-content: flex-end;
}

.foot{
    background-color: #1F2937;
    text-align: center;
    padding: 30px;
}